<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update inventory</title>
</head>

<body>
    <h1>Update Details of <%=inventory.name%></h1>
    <br>
    <img src="data:image/jpg;base64,<%=inventory.photo%>" alt="">
    <br>

    <form action="/update" method="POST" enctype="multipart/form-data">
        <label for="name">Name*:</label>
        <input type="text" required name="name" placeholder="Name" value=<%=inventory.name%>>
        <br>
        <label for="type">Type:</label>
        <input type="text" name="type" placeholder="Type of inventory" value=<%=inventory.type%>>
        <br>
        <label for="quantity">Quantity:</label>
        <input type="number" name="quantity" placeholder="Quantity" value=<%=inventory.quantity%>>
        <br>
        <label for="street">Street:</label>
        <input type="text" name="street" placeholder="Street" value=<%=inventory.street%>>
        <br>
        <label for="building">Building:</label>
        <input type="text" name="building" placeholder="Building" value=<%=inventory.building%>>
        <br>
        <label for="country">Country:</label>
        <input type="text" name="country" placeholder="Zipcode" value=<%=inventory.country%>>
        <br>
        <label for="zipcode">Zipcode:</label>
        <input type="text" name="zipcode" placeholder="Zipcode" value=<%=inventory.zipcode%>>
        <br>
        <label for="latitude">GPS Latitude:</label>
        <input type="text" name="latitude" placeholder="Latitude" value=<%=inventory.latitude%>>
        <br>
        <label for="longitude">GPS Longitude:</label>
        <input type="text" name="longitude" placeholder="Longitude" value=<%=inventory.longitude%>>
        <br>
        <label for="photo">Photo:</label>
        <input type="file" name="photo" placeholder="Please upload JPEG/PNG format">
        <br>
        <input type="submit" value="Update">
        <br>
        <a href="/map?lat=<%=inventory.latitude%>&lon=<%=inventory.longitude%>">Map</a>
        <br>
        <a href="/edit?_id=<%=inventory._id%>">Edit</a>
        <a href="/delete?_id=<%=inventory._id%>">Delete</a>
        <a href="/home">Back</a>
    </form>
</body>

</html>